body{
    position: relative;
    width: 100%;
    height: 100%;
    
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}
header{
    position: absolute;
    width: 1512px;
    height: 118px;
    left: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
}
main{
    position: absolute;
    width: 1512px;
    height: 864px;
    left: 0px;
    top: 118px;

}
.headrec{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1512px;
    height: 118px;
    left: 0px;
    top: 0px;
   
    background: #152B2B;
}
.vk{
    position: absolute;
    width: 83.02px;
    height: 79px;
    left: 40px;
    top: 20px;

    
}
.kdcraft{
    position: absolute;
    width: 238px;
    height: 68px;
    z-index: 1;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 68px;
    /* identical to box height */


    color: #F4EBDF;
}
.heart{
    position: absolute;
    width: 73px;
    height: 67px;
    left: 525px;
    top: 29px;

    
}
.heart2{
    position: absolute;
    width: 73px;
    height: 67px;
    left: 914px;
    top: 29px;
}
.recunderlog{
    z-index: 0;
    position: relative;
    width: 240px;
    height: 76px;
    right: 10px;

    background: rgba(58, 87, 86, 0.8);
    border-radius: 26px;
    }
.login{
    position: absolute;
    width: 72px;
    height: 29px;
    left: 1242px;
    top: 25px;

    font-family: 'Inter';
  
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #F4EBDF;

}
.reg{
    position: absolute;
    width: 155px;
    height: 29px;
    left: 1343px;
    top: 25px;

    font-family: 'Inter';
    
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #F4EBDF;
    
}
main{
    
    position: absolute;
    width: 1512px;
    height: 864px;
    left: 0px;
    top: 118px;

}
.bg{
    position: absolute;
    width: 1512px;
    height: 864px;
    left: 0px;
    top: 0px;

}
.bgrec{
    position: absolute;
    width: 1512px;
    height: 864px;
    left: 0px;
    top: 0px;

    background: rgba(21, 43, 43, 0.8);
}
.kdcraftinfo{
    position: absolute;
    width: 406px;
    height: 607px;
    left: 96px;
    top: 123px;

    background: #3A5756;
    border-radius: 45px;
}
.howtojoin{
    position: absolute;
    width: 406px;
    height: 607px;
    left: 553px;
    top: 123px;

    background: #3A5756;
    border-radius: 45px;
}
.openserver{
    position: absolute;
    width: 406px;
    height: 607px;
    left: 1010px;
    top: 123px;

    background: #3A5756;
    border-radius: 45px;
}
.obsi{
    z-index: 3;
    position: absolute;
    width: 82px;
    height: 79px;
    left: 400px;
    top: 640px;

}
.obsi2{
    z-index: 3;
    position: absolute;
    width: 82px;
    height: 79px;
    left: 123px;
    top: 150px;

}

.dirt{
    z-index: 3;
    position: absolute;
    width: 79px;
    height: 79px;
    left: 403px;
    top: 150px;

}

.dirt2{
    z-index: 3;
    position: absolute;
    width: 79px;
    height: 79px;
    left: 123px;
    top: 640px;

}
.kdcraftinfologo{
    position: absolute;
    width: 137px;
    height: 41px;
    left: 145px;
    top: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 41px;

    color: #FFFFFF;

}
